<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr class="animated fadeIn fast">
<p class="animated fadeIn fast">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam eos aliquid possimus blanditiis accusamus veritatis
    maiores, neque, tenetur nihil beatae corrupti amet deserunt consequatur, repellendus dolores fugit ipsum provident
    harum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quidem consectetur necessitatibus
    consequuntur accusamus voluptatum, corporis mollitia architecto quos in exercitationem ducimus rerum asperiores
    animi. Provident quod in soluta illo!
</p>